.slider {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image {
  width: 110vh;
  border-radius: 3px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08)
}

@media screen and (max-width: 960px) {
  .image {
    width: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 80vh;
  }
}

@media screen and (max-width: 576px) {
  .image {
    width: 60vh;
  }
}

@media screen and (max-width: 400px) {
  .image {
    width: 35vh;
  }
}