* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.vantrip,
.projects {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url("./images/IMG_0402.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-image: url("./images/IMG_0959.jpeg");
  background-position: 0 -25vh;
  background-size:cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 95vh;
}

.vantrip {
  background-image: url("./images/IMG_1950.jpeg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 120vh;
}

.vantrip-photos-title {
  color: rgb(0, 0, 0);
  font-size: 70px;
  text-align: center;
}
